
backend/node_modules/*

iOS/Carthage/*

iOS/TimeTraveler.xcodeproj/project.xcworkspace/xcuserdata/lukasschmidt.xcuserdatad/UserInterfaceState.xcuserstate

iOS/TimeTraveler/Assets.xcassets/Enter Info Screen/Check in luggage.imageset/Reisegepäck.pdf

iOS/TimeTraveler/Assets.xcassets/Enter Info Screen/Hand Luggage.imageset/Handgepäck.pdf
